<a href="https://colab.research.google.com/github/RayonBiswas/The-Ultimate-Python-Course/blob/main/Python_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(1)

x = 10
print(x)

1
2

In [ ]:
print("My name is Rayon Biswas")

name = "Rayon Biswas"

print(name)

My name is arhan
Arhan

In [ ]:
message = 'Good Morning !'

print (message)

note ="'This is Sentence/Paragraph of my text'"

print(note)

Good Morning !
'This is Paragraph of my text'

In [ ]:
#Indexing

s="Python Rocks "

print(s[0:6])

print(s[7:])

print(s[3:9])

Python
Rocks
hon Ro

In [ ]:
#Concatenation(Jioning Strings)

greeting= "Hello "
name = "Coder"

print(greeting + name)

print ( s + " is fun!")

Hello Coder
Python Rocks  is fun!

In [ ]:
#Repetition

print (s*2)

Python Rocks Python Rocks

In [ ]:

#Membership

print("P" in s)

print("Rocks" in s)

print("python" in s)

s[-1]

p = 'VJTI is so cool'

print(p)

True
True
False
VJTI is cool

In [ ]:
#LIST

fruits = ["Apple" , "Banana" , "Cherry" , "Mango"]

In [ ]:
print(fruits[1:2])
print(fruits[2:])
print(fruits[2:4])

['Banana']
['Cherry', 'Mango']
['Cherry', 'Mango']

In [ ]:
veggis=["carrot", "tomato"]
baskets=veggis+fruits
print(baskets)

['carrot', 'tomato', 'Apple', 'Banana', 'Cherry', 'Mango']

In [ ]:
print(veggis*2)

['carrot', 'tomato', 'carrot', 'tomato']

In [ ]:
print("banana" in fruits)

False

In [ ]:
fruits[1]="orange"
print(fruits)

['Apple', 'orange', 'Cherry', 'Mango']

In [ ]:
fruits.insert(2,"grapes")
print(fruits)

['Apple', 'orange', 'grapes', 'Cherry', 'Mango']

In [ ]:
fruits.append("kiwi")
print(fruits)

['Apple', 'orange', 'grapes', 'Cherry', 'Mango', 'kiwi']

In [ ]:
fruits.remove("Apple")
print(fruits)

['orange', 'grapes', 'Cherry', 'Mango', 'kiwi']

In [ ]:
del fruits[1]
print(fruits)

['orange', 'Cherry', 'Mango', 'kiwi']

In [ ]:
for _ in fruits:
  print(_)

orange
Cherry
Mango
kiwi

In [ ]:
subjects=("maths" ,"english", "marathi", "hindi", "history")
print(subjects)

('maths', 'english', 'marathi', 'hindi', 'history')

In [ ]:
print(subjects[0])
print(subjects[-1])

maths
history

In [ ]:
print(subjects[1:4])
print(subjects[:3])

('english', 'marathi', 'hindi')
('maths', 'english', 'marathi')

In [ ]:
sport=("pe", "yoga")
all_lec=subjects+sport
print(all_lec)

('maths', 'english', 'marathi', 'hindi', 'history', 'pe', 'yoga')

In [ ]:
print(sport*2)

('pe', 'yoga', 'pe', 'yoga')

# Python Lab 6/8/2025

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))
print(mytuple[1])
# Slicing
print(mytuple[1:3])
print(mytuple*2)

<class 'tuple'>
banana
('banana', 'cherry')
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
# Create a dictionary
my_dict = {"brand": "Ford", "model": "Mustang", "year": 1964}
print("Original dictionary:", my_dict)

# Accessing values
print("Brand:", my_dict["brand"])
print("Model:", my_dict.get("model")) # Another way to access values

# Adding a new key-value pair
my_dict["color"] = "red"
print("Dictionary after adding color:", my_dict)

# Changing a value
my_dict["year"] = 2020
print("Dictionary after changing year:", my_dict)

# Deleting an item
del my_dict["model"]
print("Dictionary after deleting model:", my_dict)

# Checking if a key exists
print("Is 'brand' in dictionary?", "brand" in my_dict)
print("Is 'model' in dictionary?", "model" in my_dict)

Original dictionary: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Brand: Ford
Model: Mustang
Dictionary after adding color: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
Dictionary after changing year: {'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}
Dictionary after deleting model: {'brand': 'Ford', 'year': 2020, 'color': 'red'}
Is 'brand' in dictionary? True
Is 'model' in dictionary? False

In [ ]:
number = 10

if number > 0:
  print("The number is positive")
else:
  print("The number is not positive")

The number is positive

# Python lab 13/8/2025

In [ ]:
a=5
b=6
c=a+b
print(c)

11

In [ ]:
print("hi"+"world")

hiworld

In [ ]:
# checking indentation error
if (a>5):
print("done")

IndentationError: expected an indented block after 'if' statement on line 2 (ipython-input-2513110378.py, line 3)

In [ ]:
# swap algorihm
a=5
b=6
temp=a
a=b
b=temp
print(a,b)

6 5

In [ ]:
# Tuple packing
packed_tuple = (1, 2, 3)
print("Packed tuple:", packed_tuple)

# Tuple unpacking
x, y, z = packed_tuple
print("Unpacked variables:", x, y, z)

Packed tuple: (1, 2, 3)
Unpacked variables: 1 2 3

In [ ]:
email="abcextc@gmail.com"
x,y=email.split('@')
print(x,y)

xyzextc gmail.com

In [ ]:
# Basic arithmetic operators

a = 10
b = 5

# Addition
sum_result = a + b
print(f"Addition: {a} + {b} = {sum_result}")

# Subtraction
difference = a - b
print(f"Subtraction: {a} - {b} = {difference}")

# Multiplication
product = a * b
print(f"Multiplication: {a} * {b} = {product}")

# Division
division_result = a / b
print(f"Division: {a} / {b} = {division_result}")

# Modulo (remainder)
modulo_result = a % b
print(f"Modulo: {a} % {b} = {modulo_result}")

# # Exponentiation
# exponentiation_result = a ** b
# print(f"Exponentiation: {a} ** {b} = {exponentiation_result}")

Addition: 10 + 5 = 15
Subtraction: 10 - 5 = 5
Multiplication: 10 * 5 = 50
Division: 10 / 5 = 2.0
Modulo: 10 % 5 = 0

In [ ]:
print(a>b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

True
False
True
True
False